

.treatment_play{
    background-color: rgb(56, 192, 51);
    animation: treatment 1s linear  forwards;
    position: absolute;
    width: 100vw;
    height: 150vh;
    margin-top: -20%;
    }
    @keyframes treatment{
        100%{opacity: 0;}
    }
    @media(max-width:620px){
        .treatment_play{
            width: 1000px;
            height: 1500px;
            margin-top: -30%;
        }
    }