.container_create_monstr{
    position: absolute;
    margin-left: 8%;
    margin-top: 10vh;
    width: 500px;
    height: 500px;
    background-color: wheat;
    box-shadow: 0 0 10px 2px black;
}
.input_create_monstr{
    margin-top: 25px;
    width: 50%;
}
.button_create_monstr{
    margin-top: 45px;
    color: wheat;
    margin-left: 5px;
    height: 35px;
    width: 30%;
    background-image: url('https://i.gifer.com/76Yn.gif');
    box-shadow: 0 0 10px 2px rgb(56, 192, 51);
    border-radius: 5px;
    
}
.button_create_monstr:hover{
    transform: scale(0.98);
}
@media(max-width:620px){
    .container_create_monstr{
       width: 100vw;
       height: 60vh;
       margin-left: 0;
    }
}