.container_hero_window{
    display: flex;
    justify-content: center;
    margin:30%  auto;
    align-items: center;
    font-size: 40px;
}
.hero_window{
    margin-right: 40px;
}
.hero_window_avatar{
    transition: all .8s;
}
.hero_window_avatar:hover{
    cursor: pointer;
    transform: scale(2.05)
}
@media(max-width:620px){
    .heroWindow_p{
        font-size: 30px;
    }
}