.video{
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    /* height: 100vh; */
}
.wrapper_video{
  margin: auto;
  position: relative;
  min-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
  overflow: hidden;
}
